:root {
  --page-max-width: 1440px;
  --page-min-width: 768px;

  --h-padding: 1.25rem;
  --v-padding: 1.25rem;

  --ff-nunito: "Nunito", sans-serif;

  --white: #ffffff;
  --white-80: rgba(255, 255, 255, 0.8);
  --black: #000000;
  --black-20: rgba(0, 0, 0, 0.2);
  --dark-orange: rgb(219, 62, 0);
  --orange-50: rgb(255, 107, 49, 0.5);
  --orange: rgb(255, 107, 49);
  --light-gray: rgb(197, 197, 197);
  --gray: rgb(156, 156, 156);
  --gray-30: rgb(156, 156, 156, 0.3);
  --light-green: #f7ffd4;
  --green: #6bc900;
  --blue: #00a2ff;
  --green-20: rgba(107, 201, 0, 0.2);

  --page-bg-color: var(--white);
  --text-color: var(--black);
  --btn-text: var(--white);
  --btn-hover-text: var(--white);
  --btn-bg: var(--orange);
  --btn-hover-bg: var(--dark-orange);
  --btn-focus-outline: var(--orange-50);
  --btn-disabled-bg: var(--gray);
  --btn-disabled-text: var(--white);

  --icon-btn-bg: var(--light-gray);
  --icon-btn-outline: var(--black-20);
  --icon-btn-checked-bg: var(--green);

  --input-border: var(--gray);
  --input-focus-outline: var(--black-20);

  --header-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  --window-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

.page {
  min-height: 100%;
  min-width: var(--page-min-width);
  background-color: var(--page-bg-color);
  color: var(--text-color);
  font-family: var(--ff-nunito);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: no-repeat center center fixed;
  background-size: cover;
}

.page_login {
  background-image: url(/src/assets/images/pictures/bg-1.jpg);
}

.page_start {
  background-image: url(/src/assets/images/pictures/bg-1.jpg);
}

.page_game {
  background-image: url(/src/assets/images/pictures/bg-2.jpg);
}

.page_statistics {
  background-image: url(/src/assets/images/pictures/bg-3.jpg);
}

.h1 {
  font-size: 2.488rem;
  line-height: 1.2;
  margin: 0;
}

.h2 {
  font-size: 2.074rem;
  line-height: 1.2;
  margin: 0;
}

.h3 {
  font-size: 1.728rem;
  line-height: 1.2;
  margin: 0;
}

.h4 {
  font-size: 1.44rem;
  line-height: 1.2;
  margin: 0;
}

.h5 {
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 0;
}

.btn {
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  vertical-align: middle;
}

.btn:disabled {
  cursor: default;
}

.primary-btn {
  font-size: 1.5rem;
  border-radius: 5px;
  color: var(--btn-text);
  position: relative;
  padding: 0.7rem 2rem;
  transition: 0.3s;
  font-weight: bold;
  background-color: var(--btn-bg);
}

.primary-btn:focus {
  box-shadow: 0 0 0 5px var(--btn-focus-outline);
  outline: none;
}

.primary-btn:not(:disabled):hover {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-text);
}

.primary-btn:disabled {
  background-color: var(--btn-disabled-bg);
  color: var(--btn-disabled-text);
}

.primary-btn_small {
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.icon-btn {
  border-radius: 0.8rem;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--black);
  background: no-repeat center;
  transition: 0.2s box-shadow linear;
  background-size: 2rem;
  background-color: var(--icon-btn-bg);
}

.icon-btn:focus {
  box-shadow: 0 0 0 5px var(--icon-btn-outline);
  outline: none;
}

.icon-btn_checked {
  background-color: var(--icon-btn-checked-bg);
}

.icon-btn_small {
  width: 2rem;
  height: 2rem;
  background-size: 1rem;
}

.text-hint-btn {
  background-image: url(/src/assets/images/svg-inline/text.svg);
}

.icon-btn_checked.text-hint-btn {
  background-image: url(/src/assets/images/svg-inline/text-on.svg);
}

.audio-hint-btn {
  background-image: url(/src/assets/images/svg-inline/speaker.svg);
}

.icon-btn_checked.audio-hint-btn {
  background-image: url(/src/assets/images/svg-inline/speaker-on.svg);
}

.img-hint-btn {
  background-image: url(/src/assets/images/svg-inline/image.svg);
}

.icon-btn_checked.img-hint-btn {
  background-image: url(/src/assets/images/svg-inline/image-on.svg);
}

.play-audio-btn {
  border: none;
  border-radius: 50%;
  background-color: var(--btn-bg);
  background-image: url(/src/assets/images/svg-inline/play.svg);
}

.play-audio-btn_active {
  animation: radialBounce 0.4s infinite ease alternate;
  background-color: var(--btn-hover-bg);
}

.container {
  width: 100%;
  max-width: var(--page-max-width);
  padding: 0 var(--h-padding);
  margin: 0 auto;
}

.logo {
  width: 130px;
  height: 50px;
  background: no-repeat center / contain;
  background-image: url(/src/assets/images/svg-inline/logo.svg);
}

/* login page */

.login {
  display: grid;
  align-content: center;
  justify-content: center;
  min-height: 100dvh;
}

.login__inner {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* login page end*/


.header {
  background-color: var(--white-80);
  box-shadow: var(--header-shadow);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.intro {
  display: grid;
  align-content: center;
  justify-content: center;
}

.intro_fullscreen{
  min-height: 100dvh;
}

.intro__inner {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.window {
  background-color: var(--white);
  box-shadow: var(--window-shadow);
  padding: var(--v-padding);
  max-width: 1000px;
  border-radius: 10px;
  margin: 0 auto;
}

.window_transparent {
  background-color: var(--white-80);
}

.window_small {
  max-width: 350px;
}

.intro__title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}

.intro__text {
  text-align: center;
  margin-bottom: 3rem;
}

.intro__grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 50%) 1fr;
}

.intro__column {
  grid-column-start: 2;
  display: grid;
  justify-items: center;
  align-content: space-between;
}

.intro__img {
  max-width: 100%;
  display: block;
  align-self: end;
}

.intro__greeting {
  text-align: center;
  color: var(--green);
  transition: 0.5s opacity ease;
  margin: 0;
  font-weight: bold;
}

.intro__greeting_visible {
  animation: fadeInRight 0.5s ease both;
}

.login-block__label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login-block__name-field {
  margin-bottom: 0.5rem;
}

.login-block__surname-field {
  margin-bottom: 1rem;
}

.login-block__login-btn {
  margin: 0 auto;
  display: block;
}

.input {
  height: 3rem;
}

.input__control {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  line-height: 1;
  border-radius: 10px;
  padding: 0 1rem;
  border: 2px solid var(--input-border);
  transition: 0.2s box-shadow linear;
  background-color: transparent;
}

.input__control:focus {
  outline: none;
  box-shadow: 0 0 0 5px var(--input-focus-outline);
}

.field__validation {
  margin: 0;
  min-height: 1.5rem;
  font-weight: bold;
}

.field_invalid .field__validation {
  color: var(--dark-orange);
}

.field_invalid .input__control {
  border-color: var(--dark-orange);
}



/* Intro page end*/


/* game page*/
.game__inner {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.game__window {
  display: grid;
  gap: 1.5rem;
  max-width: 100%;
}

.game__controls {
  display: grid;
  justify-self: stretch;
  justify-content: space-between;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.game__audio-btn {
  opacity: 0;
  transition: 0.3s opacity ease;
}

.game__audio-btn_active {
  opacity: 1;
}

.game__text-hint {
  opacity: 0;
  transition: 0.3s opacity ease;
}

.game__text-hint_active {
  opacity: 1;
}

.game__selector {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.selector-block {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.selector-block__title {
  font-weight: bold;
}

.selector {
  padding: 0.4rem 1rem;
  border-radius: 10px;
  border: 2px solid var(--black);
  background-color: var(--white);
  font-weight: bold;
  transition: 0.2s box-shadow linear;
  cursor: pointer;
  text-align: center;
}

.selector:focus {
  outline: none;
  box-shadow: 0 0 0 5px var(--input-focus-outline);
  cursor: pointer;
}

.selector__option {
  background-color: var(--white);
  font-weight: bold;
}

.game__hint-controls {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.game__area {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
}

.game__table {
  display: grid;
  grid-template-columns: auto minmax(0, 1000px);
  grid-template-areas:
    "numbers field"
    "empty words";
  grid-template-rows: auto auto;
  gap: 20px 10px;
}

.game__table_bg-visible .word {}

.game__row-numbers {
  grid-area: numbers;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  align-items: center;
  counter-reset: sentences 0;
}

.game__row-number {
  padding: 5px 0;
}

.game__row-number:after {
  counter-increment: sentences 1;
  content: counter(sentences);
  font-size: 16px;
  line-height: 1;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 0px 5px 1px var(--green);
  color: var(--green);
}

.game__row-number_active:after {
  color: var(--blue);
  box-shadow: 0px 0px 5px 1px var(--blue);
}

.game__row-number_active~.game__row-number:after {
  box-shadow: 0px 0px 5px 1px var(--gray);
  color: var(--black);
}

.game__field {
  grid-area: field;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  background-color: var(--gray-30);
}

.game__field_img-visible {
  background-size: cover;
}

.game__field_img-visible .word {
  display: none;
}


.word {
  font-weight: bold;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--gray-30);
  background-repeat: no-repeat;
  overflow: hidden;
}

.word:hover {
  border: 1px solid var(--blue);
}

.game__words {
  min-height: 40px;
  grid-area: words;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--gray-30);
  text-align: center;
}

.sentence {
  padding: 0;
  margin: 0;
}

.sentence_correct {
  animation: correct 0.4s infinite ease alternate;
}

.sentence_wrong {
  animation: wrong 0.4s infinite ease alternate;
}

.game__words,
.sentence {
  display: grid;
}

.game__buttons {
  justify-self: center;
  display: flex;
  gap: 1rem;
}

/* Statistics */
.thumbnail {
  margin: 0 auto;
}

.thumbnail__img {
  display: block;
  height: 150px;
  width: 200px;
  margin: 0 auto 1rem;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.thumbnail__caption {
  text-align: center;
}

.statistics__inner {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.results-block {
  display: grid;
  gap: 2rem;
}

.results-block__title {
  text-align: center;
}

.results-block__buttons {
  margin: 0 auto;
  display: inline-flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.results {
  list-style: none;
  border: 1px solid var(--gray-30);
  padding: var(--v-padding);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  margin: 0;
  background-color: var(--light-green);
}

.results_error .results__badge {
  background-color: var(--dark-orange);
}

.results_success .results__badge {
  background-color: var(--green);
}

.results__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.results__title-text {
  margin: 0;
  font-weight: bold;
}

.results__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.results__badge {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: min-content;
  padding: 0.5rem 0.8rem;
  color: var(--white);
  font-weight: bold;
  line-height: 1;
  border-radius: 1rem;
  font-size: 1rem;
}

.results__play-btn {
  flex: none;
}

.results__item-text {
  margin: 0;
}

@keyframes radialBounce {
  0% {
    box-shadow: 0 0 0 0 transparent
  }

  100% {
    box-shadow: 0 0 0 6px var(--btn-focus-outline)
  }
}


@keyframes correct {
  0% {
    box-shadow: 0 0 0 0 transparent
  }

  100% {
    box-shadow: 0 0 0 3px var(--green)
  }
}


@keyframes wrong {
  0% {
    box-shadow: 0 0 0 0 transparent
  }

  100% {
    box-shadow: 0 0 0 3px var(--dark-orange)
  }
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}